/*table{
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    width: 100%;
}
th{
    background-color: black;
    color: white;
    padding: 5px;
}
td{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px;
}*/
select{
    margin-left: 20px;
}
.candidate{    
    background: #bebebe;
    border: 1px solid #bebebe;
    border-radius: 5px;
    text-align: left;
    padding: 15px;
    margin: 5px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 100%;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
input {
    margin: 10px;
    height: 20px;
    width: 159px;
}
button {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 20px;
}
