<h2>TA Assignment</h2>

<!-- '#courses' assigns the name 'courses' to this select element -->
<label for="courses">Select a Course</label>
<select #courses (change)="courseView(courses.value)" id="courses">
    <option value="-1">{{empty_course}}</option>
    <option *ngFor="let c of course_list, index as a" value="{{a}}">{{c}}</option>
</select>

<!--TWO main columns will hold the list of assigned and unassigned TAs-->
<table>
    <tr>
        <th>
            Assigned TAS
        </th>
        <th>
            Unassigned TAS
        </th>        
    </tr>
    <tr cdkDropListGroup>
        <td>
            <!-- Draggable list for assigned TAs -->
            <!-- Accepts incoming list items -->
            <!-- Appears always -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div id="assigned" cdkDrag *ngFor='let ta of viewed_assigned, index as a'>

                    <!--assigned TA details-->
                    <div class="list" >{{ta.email}}</div>
                </div>
            </div>
        </td>
        <td>
            <!-- Draggable list for unassigned TAs -->
            <!-- Accepts incoming list items -->
            <!-- Appears always -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div id="unassigned" cdkDrag *ngFor='let ta of viewed_unassigned, index as a'>

                    <!--assigned TA details-->
                    <div class="list" >{{ta.email}}</div>
                </div>
            </div>
        </td>
    </tr>

    <br>
    <button *ngIf="viewed_assigned.length > 0" (click)="saveChanges()" class="confirm">Confirm Changes</button>
</table>


