
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    height: auto;
   
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
input {
    margin: 10px;
    height: 20px;
    width: 159px;
    display: inline;
}
button {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 20px;
}
