

<h1>TA Matchi</h1>

<!-- Dashboard -->
<h3>Dashboard</h3>
<table>
    <tr>
        <th>
            <a routerLink='/login'>login</a>
        </th>
        <th>
            <a routerLink='/course-information'>course info</a>
        </th>
        <th>
            <a routerLink='/form'>form</a>
        </th>
        <th>
            <a routerLink='/allocate-ta-hours'>allocate-ta-hours</a>
        </th>
        <th>
            <a routerLink='/assign-ta'>assign-ta</a>
        </th>
        <th>
            <a routerLink='/ranking'>ranking</a>
        </th>
        <th>
            <a routerLink='/submit-spreadsheet'>submit-spreadsheet</a>
        </th>
    </tr>
</table>


<router-outlet></router-outlet>

