<div id="logo">
    <img src="../assets/img/tamatchi.svg" width="75"><span id="ta">ta</span>matchi
</div>

<!-- Dashboard -->
<div id="nav">
    <span id="nav-login" class="left" routerLink='/login' (click)="markActive(0)">LOGIN</span>
    <span id="nav-course" routerLink='/course-information' (click)="markActive(1)">COURSE INFO</span>
    <span id="nav-form" routerLink='/form' (click)="markActive(2)">FORM</span>
    <span id="nav-allocate" routerLink='/allocate-ta-hours' (click)="markActive(3)">ALLOCATE</span>
    <span id="nav-assign" routerLink='/assign-ta' (click)="markActive(4)">ASSIGN</span>
    <span id="nav-ranking" routerLink='/ranking' (click)="markActive(5)">RANKING</span>
    <span id="nav-upload" routerLink='/submit-spreadsheet' (click)="markActive(6)">UPLOAD</span>
</div>

<div id="container">
    <hr>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
