<div id="logo">
    <img src="../assets/img/tamatchi.svg" width="75"><span id="ta">ta</span>matchi
</div>


<!-- Dashboard -->
<div id="nav">
    <!-- SHARED NAV -->
    <div *ngIf = "admin || chair || instructor">Logged in as {{account_email}}</div>
    <span *ngIf="admin || chair || instructor" id="nav-login" class="left" routerLink='/login' (click)="markActive(0)">LOGOUT</span>
    <!-- LOGGED OUT NAV -->
    <span *ngIf="!admin && !chair && !instructor" id="nav-login" class="left" routerLink='/login' (click)="markActive(0)">LOGIN</span>
    <!-- ADMIN/CHAIR NAV -->
    <div *ngIf="admin || chair" class="dropdown">
        <span id="nav-info">INFO / ADD</span>
        <div class="dropdown-content">
            <span routerLink='/course-information' (click)="markActive(1)">COURSES</span>
            <span routerLink='/form' (click)="markActive(1)">INSTRUCTORS</span>
        </div>
    </div>
    <span *ngIf="admin || chair" id="nav-allocate" routerLink='/allocate-ta-hours' (click)="markActive(2)">ALLOCATE</span>
    <div *ngIf="admin || chair" class="dropdown">
        <span id="nav-assign">ASSIGN</span>
        <div class="dropdown-content">
            <span routerLink='/assign-ta' (click)="markActive(3)">TA</span>
            <span routerLink='/assign-instructor' (click)="markActive(3)">INSTRUCTOR</span>
        </div>
    </div>
    <span *ngIf="admin || chair" id="nav-upload" routerLink='/file-upload' (click)="markActive(4)">UPLOAD</span>
    <span *ngIf="admin || chair" id="nav-admin" routerLink='/admin' (click)="markActive(5)">ADMIN</span>
    <!-- INSTRUCTOR NAV -->
    <span *ngIf="instructor" id="nav-questions" routerLink='/course-questions' (click)="markActive(1)">QUESTIONS</span>
    <span *ngIf="instructor" id="nav-ranking" routerLink='/ranking' (click)="markActive(2)">RANKING <div class="notification" *ngIf="instructor && unranked_count>0" > {{unranked_count}} </div> </span>
</div>

<div id="container">
    <hr>
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>
