<div>
    <input #email placeholder="Email">
    <button (click) = "register(email.value)">CREATE</button><br>
    A password set link will be sent to the provided email.
</div>
<br>
<div>
    <ul>
        <li *ngFor="let user of userList">
            <div *ngIf="user['email'] != '' && user['email'] != undefined">
                <b>Email: </b>{{user["email"]}}
                <br>
                <b>Professor: </b><input #prof type="checkbox" checked="{{getStatus(user, 'professor', prof)}}">
                <br>
                <b>Admin: </b><input #admin type="checkbox" checked="{{getStatus(user, 'admin', admin)}}">
                <br>
                <b>Chair: </b><input #chair type="checkbox" checked="{{getStatus(user, 'chair', chair)}}">
                <br>
                <b>Disabled: </b><input #disabled type="checkbox" checked="{{getStatus(user, 'disabled', disabled)}}">
                <br>
                <button (click) = "setClaims(user['uid'], admin.checked, prof.checked, chair.checked)">UPDATE</button>
                <button (click) = "sendPasswordResetEmail(user['email'])">PASSWORD RESET</button>
                <br>
            </div>
        </li>
    </ul>
</div>
