ul {
    margin: auto;
    background-color: white;
    padding: 10px;
}
li {
    list-style-type: none;
    padding-top: 5px;
    vertical-align: middle;
}
span {
    display: inline-block;
}
#courseCode {
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color: #4F2683;
    border: 1px solid none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
}
#courseName {
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color: black;
    border: 1px solid none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}
.remove {
    background-color: #807F83;
    border: 5px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    padding: 1px;
}
li input {
    width: 395px;
}
#buttons {
    padding-left: 200px;
    white-space: nowrap;
}
