<h2>Rank the TAs you would like in your course</h2>

<!-- '#courses' assigns the name 'courses' to this select element -->
<select #courses (change)="courseView(courses.value)" id="courses">
    <option value="-1">{{empty_course}}</option>
    <option *ngFor="let c of course_list, index as a" value="{{a}}">{{c}}</option>
</select>

<!--TWO main columns will hold the list of ranked and unranked TAs-->
<table>
    <tr>
        <th>
            RANKED TAS
        </th>
        <th>
            UNRANKED TAS
        </th>
    </tr>
    <tr>
        <td>
            <!-- Draggable list to rank TAs -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div class="list" cdkDrag *ngFor='let ta of ranked_view'>
                    {{ta}}
                </div>
            </div>
        </td>
        <td>
            <!-- Draggable list for unranked TAs -->
            <div cdkDropList>
                <div class="list" cdkDrag *ngFor='let ta of unranked_view'>
                    {{ta}}
                </div>
            </div>
        </td>
    </tr>
</table>


<br>
<button (click)="confirmRankings()" class="confirm">Confirm Changes</button>