<h2>TA Ranking</h2>

<!-- '#courses' assigns the name 'courses' to this select element -->
<select #courses (change)="courseView(courses.value)" id="courses">
    <option value="-1">{{empty_course}}</option>
    <option *ngFor="let c of course_list, index as a" value="{{a}}">{{c}}</option>
</select>

<!--TWO main columns will hold the list of ranked and unranked TAs-->
<table>
    <tr>
        <th>
            RANKED TAS
        </th>
        <th *ngIf="unranked_view.length > 0">
            UNRANKED TAS
        </th>
    </tr>
    <tr cdkDropListGroup>
        <td>
            <!-- Draggable list to rank TAs -->
            <!-- Accepts incoming list items -->
            <!-- Appears always -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div id="ranked" cdkDrag *ngFor='let ta of ranked_view, index as a'>

                    <!--Rank number-->
                    <div class="number" >{{a+1}}</div>
                    <!--Ranked TA details-->
                    <div class="list" >{{ta}}</div>
                </div>
            </div>
        </td>
        <td>
            <!-- Draggable list for unranked TAs -->
            <!-- Does not accept incoming list items -->
            <!-- Only appears if there is at least one list item -->
            <div cdkDropList *ngIf="unranked_view.length > 0">
                <div id="unranked" class="list" cdkDrag *ngFor='let ta of unranked_view, index as a'>
                    <!--Unranked TA details-->
                    {{ta}}
                </div>
            </div>
        </td>
    </tr>
</table>


<br>
<button (click)="confirmRankings()" class="confirm">Confirm Changes</button>