<h2>TA Ranking</h2>

<!--Message if not logged in-->
<span *ngIf = "!loggedIn">Please log in as a professor to view rankings</span>

<div id="courses">
    <span *ngFor="let c of course_list; index as i" id="{{c}}" class="subnav" (click)="toggleCourse(i)">{{c}}</span>
</div>
<hr/>
<!--TWO main columns will hold the list of ranked and unranked TAs-->
<table *ngIf="viewed_course != undefined; else elseBlock">
    <tr>
        <th>
            RANKED TAS
        </th>
        <th>
            UNRANKED TAS
        </th>
    </tr>
    <tr cdkDropListGroup>
        <td>
            <!-- Draggable list to rank TAs -->
            <!-- Accepts incoming list items -->
            <!-- Appears always -->
            <div cdkDropList (cdkDropListDropped)="drop($event)">
                <div *ngIf="!(ranked_view.length > 0)" class="empty">EMPTY</div>
                <div cdkDrag *ngFor='let ta of ranked_view, index as a'>
                    <!--Rank number-->
                    <div class="number" >{{a+1}}</div>
                    <!--Ranked TA details-->
                    <div class="list" >{{ta.email}}</div>
                    <!--Button for Detailed View-->
                    <button (click)="viewTaDetails(viewed_course, ta.email)">DETAILS</button>
                </div>
            </div>
        </td>
        <td *ngIf="unranked_view.length > 0; else emptyUnranked">
            <!-- Draggable list for unranked TAs -->
            <!-- Does not accept incoming list items -->
            <!-- Only appears if there is at least one list item -->
            <div cdkDropList *ngIf="unranked_view.length > 0">
                <div class="list" cdkDrag *ngFor='let ta of unranked_view, index as a' (click)="viewTaDetails(viewed_course, ta.email)">
                    <!--Unranked TA details-->
                    {{ta.email}}
                    <!--Button for Detailed View-->
                    <button (click)="viewTaDetails(viewed_course, ta.email)">DETAILS</button>
                </div>
            </div>
        </td>
        <ng-template #emptyUnranked>
            <td>
                <div class="empty">EMPTY</div>
            </td>
        </ng-template>
    </tr>

    <br>
    <button *ngIf="ranked_view.length > 0 || unranked_view.length > 0" (click)="confirmRankings()" class="confirm">CONFIRM</button>
</table>
<ng-template #elseBlock>
    Select a course from above to begin ranking TAs.
</ng-template>

<!--Ensure the ta-info popup can appear-->
<app-ta-info></app-ta-info>

