<div class="container">

    <h2>Enter Course Information:</h2>
    <div>

        <hr />
        <input type="text" [(ngModel)]="courseCode" placeholder="Course Code" />
        <input type="text" [(ngModel)]="courseName" placeholder="Course Name" />
        <input type="number" [(ngModel)]="lecHrs" placeholder="Lec Hours" />
        <input type="number" [(ngModel)]="labOrTutHrs" placeholder="Lab/Tut Hours" />
        <input type="number" [(ngModel)]="sec" placeholder="# of sections" />
        


        <button (click)="addCourses()">ADD</button>
        <!-- <button (click)="saveCourses()">SAVE</button> -->

        <br><br>

    </div>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Course Code</th>
            <th>Course Name</th>
            <th>Lecture Hours</th>
            <th>Lab/Tutorial Hours</th>
            <th>No. of Sections</th>
            
            



        </tr>
        <tr *ngFor="let row of rows">
            <td (click)="showQuestions(row.courseCode)">{{row.courseCode}}</td>
            <td>{{row.courseName}}</td>
            <td>{{row.lecHrs}}</td>
            <td>{{row.labOrTutHrs}}</td>
            <td>{{row.sec}}</td>
            


        </tr>
    </table>

</div>

<app-course-questions></app-course-questions>
