<div class="container" style="width:600px">
  <div>
    <h3>UPLOAD</h3>
  </div>

  <div>
    File Type:
    <input type="radio" name="type" value="applicants" id="applicants" checked="checked" (click)="toggleType(0)">
    <label for="applicants">Applicants</label>
    <input type="radio" name="type" value="courses" id="courses" (click)="toggleType(1)">
    <label for="applicants">Courses</label>
    <input type="radio" name="type" value="enrol" id="enrol" (click)="toggleType(2)">
    <label for="applicants">Enrolment</label>
    <input type="radio" name="type" value="instructors" id="instructors" (click)="toggleType(3)">
    <label for="applicants">Instructors</label>
    <input type="file" (change)="onFileChange($event)">
    
    <button (click)="upload()">UPLOAD</button>
  </div>
</div>
  