
<!--Main Table for displaying data to be viewed and edited-->
<!--Only shows up if there is enrollment data for at least one course-->
<table class="table table-responsive table-striped" *ngIf="enroll_record_list?.length > 0">

    <!--Header/title rows-->
    <tr> 
        <th>Course</th>
        <th>Instructor</th>
        <th> <p>Enrolment {{current_year-1}}</p> </th>
        <th> <p>TA Hours for {{current_year-1}}</p> </th>
        <th> <p>Enrolment {{current_year}}</p> </th>
        <th> <p>Estimated {{current_year}} Hours</p> </th>
        <th> <p>TA Hours for {{current_year}} </p><p></p> </th>
    </tr>
    <!--End of header/title rows-->

    <!--Content rows -->
    <tr *ngFor="let c of enroll_record_list">
        <th> {{c.course}} </th>
        <th> {{c.instructor}} </th>
        <th> {{c.prevEnrol}} </th>
        <th> {{c.prevHrs}} </th>
        <th> {{c.currEnrol}} </th>
        <th> {{c.estHrs}} </th> <!-- Formula : (Prev TA hrs)*(Current Enrollment)/(Prev enrollment) --> <!-- c.prevHrs * c.currEnrol / c.prevEnrol -->
        <th> <input [(ngModel)]="c.currHrs" placeholder = 0/> </th> <!--Two-way binding for the "manually allocated TA hour" values-->
    </tr>
    <!--End of content rows -->

    <!--Row for Submit button -->
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th> 
        <th> <button (click)="saveChanges()" >SAVE CHANGES (Doesnt work yet)</button> </th>
    </tr>
    <!--End of Row for Submit button -->

</table>

<!--Message that displays if there are no courses with enrollment data-->
<h3 *ngIf="enroll_record_list?.length == 0">
    No Course Records were found
</h3>



