<p>allocate-ta-hours works! It is on the main page for now, since this will make it easier to combine with the rest of the app later on. Creating an entire app routing module may cause merging conflicts down the road</p>

<!--Main Table for displaying data to be viewed and edited-->
<table>

    <!--Header/title rows-->
    <tr>
        <th>Instructor</th>
        <th>Course</th>
        <th> <p>Enrollment {{current_year-1}}</p> </th>
        <th> <p>TA Hours for {{current_year-1}}</p> </th>
        <th> <p>Enrollment {{current_year}}</p> </th>
        <th> <p>Estimated {{current_year}} Hours</p> </th>
        <th> <p>TA Hours for {{current_year}}</p> </th>
    </tr>
    <!--End of header/title rows-->

    <!--Place content rows here-->

</table>
